@import "../../../scss/variables";
@import "../../../scss/mixins";

.favorite-book {
    display: flex;
    justify-content: space-between;
    //flex-wrap: wrap;
    border-bottom: 1px solid $_system-color-secondary;
    margin-bottom: 48px;

    @media (max-width: 500px) {
        display: block;
    }

    .favorite-book__image {
        width: 256px;
        overflow: hidden;
        margin: 0 auto 30px;
        background-color: $_tertiary-color-blue;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        @media (max-width: 768px) {
            width: 208px;
        }
        
        img {
            object-fit: cover;
            object-position: center;
            width: 226px;
            height: 264px;

            @media (max-width: 768px) {
                width: 134px;
                height: 155px;
            }
        }

        .btn-favorites-active {
            display: none;

            @media (max-width: 500px) {
                display: block;
                position: absolute;
                top: 0;
                right: 0;
                height: 56px;
                width: 56px;
                background-color: $_system-color-primary;
                @include button;

                svg {
                    height: 24px;
                    width: 24px;
                    fill: $_contextual-color-red;

                    path {
                        stroke: $_contextual-color-red;
                    }
                }
            }
        }
    }

    .favorite-book__main {
        flex-grow: 1;
        padding: 24px 32px;

        a {
            color: $_system-color-primary;
            opacity: .7;
            transition: .2s;
    
            &:hover {
                opacity: 1;
            }
        }

        h3 {
            @include h3;
            margin-bottom: 8px;
        }

        .favorite-book__subtitle {
            font-size: 16px;
            font-family: "Helios";
            color: $_system-color-secondary;
            margin-bottom: 24px;
        }

        .favorite-book__price {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 40px;
            font-family: "Bebas Neue";
            line-height: 1;
            width: 40%;

            @media (max-width: 768px) {
                width: 100%;
            }
        }
    }

    .favorite-book__delete {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 20px;

        @media (max-width: 500px) {
            display: none;
        }

        button {
            background-color: inherit;
            border: none;
            outline: none;
            font-size: 24px;
            line-height: 1;
            @include button;

            svg {
                fill: $_contextual-color-red;

                path {
                    stroke: $_contextual-color-red;
                }
            }
        }
    }
}