@import "../../scss/variables";
@import "../../scss/mixins";

.header {
  padding: 24px 0 0 0;
  position: sticky;
  top: 0;
  background-color: $_background-color-white;
  z-index: 100;
  
  .header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $_system-color-secondary;
    padding-bottom: 24px;

    .header-action {
      min-width: 184px;
      display: flex;
      justify-content: space-evenly;

      button, a {
        background-color: inherit;
        border: none;
        outline: none;
        opacity: .7;
        transition: .2s;
        cursor: pointer;

        &:hover {
          opacity: 1;
        }
      }

      .header-action-container {
        position: relative;

        .span-counter {
          background-color: $_contextual-color-red;
          height: 10px;
          width: 10px;
          border-radius: 50%;
          line-height: 1;
          font-size: 12px;
          font-weight: 600;
          position: absolute;
          top: 0%;
          right: 0%;
          transform: translate(40%, -80%);
        }
      }

      .authorized svg path {
          stroke: green;
      }
    }
  }
}