// colors
$_system-color-primary: #313037;
$_system-color-primary2: #5B5A62;
$_system-color-secondary: #A8A8A8;

$_background-color-white: #FFFFFF;
$_background-color-gray: #E7E7E7;
$_background-color-light: #F7F7F7;

$_contextual-color-red: #FC857F;

$_tertiary-color-blue: #D7E4FD;
$_tertiary-color-green: #CAEFF0;
$_tertiary-color-orange: #FEE9E2;
$_tertiary-color-purple: #F4EEFD;